.about {
    width: 80vw;
    margin: 0 auto;

    h3 {
        text-align: center;
        padding-bottom: 1.7rem;
    }

    .sports {
        .sport {
            @include bp(tablet) {
                display: block;
            }

            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 2px solid var(--border-color);
            border-radius: 0.5rem;
            list-style: none;
            margin-bottom: 4rem;

            .sport-info {
                flex: 1 1 70%;
            }

            .sport-info h2 {
                margin: 2rem auto !important;
            }

            .sport-info h2,
            .sport-info p {
                margin: 0 auto;
                text-align: center;
                width: 60%;
            }

            .sport-info p {
                font-size: 1.1rem;
            }

            .img-container {
                transition: transform;
                transition-duration: 1s;
                transition-timing-function: cubic-bezier(0.2, 0.3, 0, 1);
                transition-delay: 0s;

                background-position: center;
                height: 20rem;
                width: 20rem;
                margin: 2rem;

                @include bp(tablet) {
                    margin: 2rem auto;
                }
            }

            .img-container:hover {
                transform: scale(1.2);
            }

            .ski {
                background: url("../pics/ski.jpg");
                background-size: cover;
            }

            .bike {
                background: url("../pics/bike.jpg");
                background-size: cover;
            }

            .kite {
                background: url("../pics/surfing.jpg");
                background-size: cover;
            }

            .paraglide {
                background: url("../pics/paragliding.jpg");
                background-size: cover;
            }

            .bungee {
                background: url("../pics/bungee.jpg");
                background-size: cover;
            }

            .rafting {
                background: url("../pics/rafting.jpg");
                background-size: cover;
            }
        }
    }

    .team {
        position: relative;
        width: 80vw;
        height: 72vh;
        margin-bottom: 8rem;

        h3 {
            text-align: center;
            padding: 1.7rem;
            z-index: 5;
        }

        .team-list {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 72vh;
            overflow: hidden;
            display: flex;
            flex-direction: row;

            @include bp(mobile) {
                flex-direction: column;
            }

            justify-content: center;
            align-items: center;

            &>li {
                @include bp(mobile) {
                    font-size: 0.9rem;
                    width: 100%;
                }

                @include bp(mobile) {
                    height: 30%;
                }

                width: 22%;
                padding: 0 2rem;
                position: relative;
                transition: 0.5s flex ease;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex: 1 1 auto;
                height: 72vh;

                &>h3,
                &>p {
                    text-align: center;
                    transition: 0.4s opacity ease;
                    opacity: 0.7;
                    z-index: 2;
                    color: rgba(255, 255, 255, 0.9);
                    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
                    margin-bottom: 0;
                }

                &>p {
                    @include bp(mobile) {
                        margin: 1rem;
                        padding-bottom: 0rem;
                    }

                    @include bp(mobile) {
                        font-size: 1.1rem;
                    }

                    font-size: 1.2rem;
                }

                &>h3 {
                    @include bp(mobile) {
                        font-size: 2rem;
                        padding: 0;
                    }

                    font-size: 2.4rem;
                }
            }

            &>li:hover>* {
                opacity: 1;
            }

            &>li:hover {
                flex: 4 1 auto;
            }

            &>li:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 72vh;
                width: 100%;
                transform: skew(-3deg);

                @include bp(mobile) {
                    transform: skewY(-2deg);
                }

                z-index: 1;
            }

            .member1,
            .member1:before {
                background-color: #48b1d4;
            }

            .member2,
            .member2:before {
                background-color: var(--primary-color);
            }

            .member3,
            .member3:before {
                background-color: #412500;
            }
        }
    }
}

@media (max-width: 360px) {
    .team-list p {
        font-size: 0.9rem !important;
    }
}

@media (max-width: 360px) {
    .team-list h3 {
        font-size: 1.4rem !important;
    }
}