.home {
    .page-header {
        background: rgba(0, 0, 0, .2) url("../pics/main.jpg") no-repeat center;
        background-blend-mode: darken;
        height: 20rem;
        background-size: cover;
        max-width: 100%;

        .title-container {

            color: var(--footer-color);
            position: relative;
            float: left;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 11rem;

            h1 {
                text-shadow: 1px 1px rgb(173, 173, 173);
            }
        }
    }

    .sports {
        position: relative;
        top: 2em;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 96vw;
        padding-bottom: 4rem;

        .sport {
            list-style: none;
            flex: 1 1 20%;
            margin: 0 4rem;

            h2,
            p {
                text-align: center;
            }

            .img-container {
                transition: transform;
                transition-duration: 1s;
                transition-timing-function: cubic-bezier(0.2, 0.3, 0, 1);
                transition-delay: 0s;

                margin: 2rem auto;
                background-position: center;
                height: 20rem;
                width: 20rem;
                border-radius: 50%;
            }

            .img-container:hover {
                @include bp(mobile) {
                    transform: scale(1.12);
                }

                transform: scale(1.2);
            }

            .ski {
                background: url("../pics/ski.jpg");
                background-size: cover;
            }

            .bike {
                background: url("../pics/bike.jpg");
                background-size: cover;
            }

            .kite {
                background: url("../pics/surfing.jpg");
                background-size: cover;
            }

            .paraglide {
                background: url("../pics/paragliding.jpg");
                background-size: cover;
            }

            .bungee {
                background: url("../pics/bungee.jpg");
                background-size: cover;
            }

            .rafting {
                background: url("../pics/rafting.jpg");
                background-size: cover;
            }
        }
    }
}