.site-header {
    @include bp(mobile) {}

    @include bp(desktop) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

input:checked+.card .button .less {
    display: inline;
}