.site-header {
    @include bp(mobile) {}

    @include bp(desktop) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.site {
    position: relative;
    min-height: 100vh;
}

.site-main {
    padding-bottom: 7rem;
}


input:checked+.card .button .less {
    display: inline;
}