.site-nav {
  text-align: center;
  background: var(--primary-color);
  width: 100vw;

  @include bp(mobile) {
    display: none;
  }

  ul {
    padding: 0;
    margin: 0;

    @include bp(desktop) {
      display: flex;
    }

    li {
      display: block;

      // @include bp(desktop) {
      //   margin: 0 0.7em;
      // }

      transform: translate(0, -5em);

      opacity: 0;
      transition: opacity 0.3s ease-in,
        transform 0.3s ease-in;

      .loaded & {
        opacity: 1;
        transform: translate(0, 0);
      }

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          transition-delay: $i * 0.05s;
        }
      }
    }
  }

  a {
    display: flex;
    padding: 0.8em 1em;

    color: white;
    // border-radius: 0.3rem;
    text-decoration: none;
  }

  .current-page a,
  a:hover {
    background: var(--secondary-color);
  }
}

.nav-toggle {
  background: var(--primary-color);
  position: absolute;
  pointer-events: none;
  opacity: 0;

  &:checked+.site .site-header .site-nav {
    @include bp(mobile) {
      display: block;
    }
  }

  &-label {
    @include bp(desktop) {
      display: none;
    }
  }

  &:checked+.site .site-header .nav-toggle-label .fa-times {
    display: block;
  }

  &:checked+.site .site-header .nav-toggle-label .fa-bars {
    display: none;
  }

  &:checked+.site .site-header .nav-toggle-label {
    border-bottom: 1px solid var(--secondary-color);
  }
}

.nav-toggle-label {
  display: block;
}

.fa-times {
  display: none;
}

.fa-bars {
  @include bp(desktop) {
    display: none;
  }

  display: block;
}


.site-header {
  text-align: center;
  background: var(--primary-color);
}