:root {
    --sizing-ws-base: 1.5em;
    --sizing-fs-base: 12px;

    --sizing-fs-tablet: 14px;
    --sizing-fs-laptop: 16px;
    --sizing-fs-desktop: 18px;
    --sizing-fs-huge: 20px;

    --font-ptsans: PT Sans;
    --font-ptserif: PT Serif;

    --primary-color: rgb(19, 99, 39);
    --secondary-color: rgb(36, 68, 45);
    --background-color: rgb(255, 251, 255);
    --footer-color: rgb(252, 252, 252);
    --text-color: #333;
    --border-color: rgb(156, 149, 149);

}